.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1000;

}

.modal {
  width: 732px;
  height: 606px;
  
 
  position: absolute;
  top: 105px;
  left: 315px;
  right: 315px; 
  bottom: 59px;
  
  margin: 0 auto;
  
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  animation: pop 0.2s ease-out;
  padding: 20px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


@media (max-width: 1400px) {
  .modal {
    width: min(732px, calc(100vw - 630px)); /* 315px left + 315px right */
    height: min(606px, calc(100vh - 164px)); /* 105px top + 59px bottom */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: auto;
    bottom: auto;
  }
}