@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.modal-overlay {
   position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
 
  z-index: 1000;

}

.modal {
  position: absolute;
  top: 105px;
  bottom: 59px;
  left: 315px;
  right: 315px;
  
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  animation: pop 0.2s ease-out;
 
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;

  
}
.close{
    position: static;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


.top{
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.rtop{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ltop{
    display: flex;
    align-items: center;
    gap: 20px

}

.filterb{
    cursor:pointer
}

.reset{
    cursor:pointer;
    font-size: 12px;
    color: #FF6824;
    border: none;
    background: none;
    padding: 0; 
    margin: 0;
}

.bottom{
    flex: 1;
    display: flex;  
}

.leftp{
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid #ccc;

}

.rightp{
     flex: 1;
    overflow-y: auto;
}

.lhead{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.lprightbox{
    display: flex;
    gap: 10px;
    align-items: center;
}

.clearall{
      cursor:pointer;
    font-size: 12px;
    color: #FF6824;
    border: none;
    background: none;
    padding: 0; 
    margin: 0;
}

.status{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    font-size: 12px;
    color: #ccc;
}
.lbody{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.filter-section{
    display: flex;
    padding-left: 10px;
    gap: 6px;
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
    
}

.selectall{
      cursor:pointer;
    font-size: 12px;
    color: #FF6824;
    border: none;
    background: none;
    padding: 0; 
    margin: 0;
}

.dropdown {
  font-size: 14px;
}

.dropdown-title {
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown-list {
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  padding-left: 20px;
  color: #ccc;
}

.dropdown-list label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
 
}

.dropdown-list input[type="checkbox"] {
  width: 10px;
  height: 10px;
  accent-color: #ccc;
  cursor: pointer;
}



@media (max-width: 768px) {
    .modal-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .modal {
        position: static;

        width: 90%;
        max-width: 732px;
        height: 90%;
        max-height: 606px;
       
  }
 
}


































































































































































































.rightp-head {
  font-family: 'Roboto', sans-serif;
  font-size: 12x;
  line-height: 16px;
  color: #AFB6C5;
}
