@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.modal-overlay {
   position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
 
  z-index: 1000;

}

.modal {
  position: absolute;
  top: 105px;
  bottom: 59px;
  left: 315px;
  right: 315px;
  
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  animation: pop 0.2s ease-out;
 
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;

  
}
.close{
    position: static;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


.top{
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.rtop{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ltop{
    display: flex;
    align-items: center;
    gap: 20px

}

.filterb{
    cursor:pointer
}

.reset{
    cursor:pointer;
    font-size: 12px;
    color: #FF6824;
    border: none;
    background: none;
    padding: 0; 
    margin: 0;
}

.bottom{
    flex: 1;
    display: flex;  
}

.leftp{
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid #ccc;

}

.rightp{
     flex: 1;
    overflow-y: auto;
    margin-left: 15px;
}




@media (max-width: 768px) {
    .modal-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .modal {
        position: static;

        width: 90%;
        max-width: 732px;
        height: 90%;
        max-height: 606px;
       
  }
 
}





















































































































































































.rightp-head {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #AFB6C5;
  text-align: left;
}

.input {
  background-color: #FFFF;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  width: 100%;
  max-width: 338px;  
  min-height: 36px;
  padding: 5px;
  margin-top: 10px;
}

.searchinput {
  position: relative;
  width: 100%;
  max-width: 338px;
}

.searchinput input{
  width: 100%;
  padding: 10px 12px;
  padding-right: 36px;
}

.icon{
  position: absolute;
  right: 12px;              
  top: 50%;
  color: #9ca3af;
  pointer-events: none;
}

.lists{
  margin-top: 5px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  min-height: 73px;
  width: 100%;
  max-width: 337px;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}

.name{
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.name-detail{
  font-size:12px;
  line-height: 17px;
  display: flex;
  justify-content: space-between;
}

.rating{
  display: flex;
  gap: 15px;
  align-items: center;
}
.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.yellow { background-color: #F3B241;}
.green {background-color: #3AA333;}
.red {background-color: #EE4C23;}


@media (max-width: 480px) {
  .input,
  .searchinput,
  .lists {
    max-width: 100%;
    margin-right: 15px;
  }
}

