@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.modal-overlay {
   position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  z-index: 1000;

}

.modal {
  position: absolute;
  top: 105px;
  bottom: 59px;
  left: 315px;
  right: 315px;
  
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  animation: pop 0.2s ease-out;
 
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;

  
}
.close{
    position: static;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


.top{
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.rtop{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ltop{
    display: flex;
    align-items: center;
    gap: 20px

}

.filterb{
    cursor:pointer
}

.reset{
    cursor:pointer;
    font-size: 12px;
    color: #FF6824;
    border: none;
    background: none;
    padding: 0; 
    margin: 0;
}

.bottom{
    /* flex: 1; */
    display: flex;
    height: calc(90vh - 72px); 
    align-items: flex-start; 
}

.leftp{
    width: 45%;
    flex-shrink: 0;
    overflow: hidden;
    align-self: flex-start;
}

.rightp{
    flex: 1;
    margin-left: 15px;
    border-left: 1px solid #ccc;
    padding-left: 15px;
    height: 79vh;
  }

.user{
    overflow-y: auto;
    scrollbar-width: none;
    height: 65vh;
}
.lhead{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.lprightbox{
    display: flex;
    gap: 10px;
    align-items: center;
}

.clearall{
      cursor:pointer;
    font-size: 12px;
    color: #FF6824;
    border: none;
    background: none;
    padding: 0; 
    margin: 0;
}

.status{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    font-size: 12px;
    color: #ccc;
}
.lbody{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.filter-section{
    display: flex;
    padding-left: 10px;
    gap: 6px;
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
    
}

.selectall{
      cursor:pointer;
    font-size: 12px;
    color: #FF6824;
    border: none;
    background: none;
    padding: 0; 
    margin: 0;
}

.dropdown {
  font-size: 14px;
}

.dropdown-title {
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown-list {
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  padding-left: 20px;
  color: #ccc;
}

.dropdown-list label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
 
}

.dropdown-list input[type="checkbox"] {
  width: 10px;
  height: 10px;
  accent-color: #ccc;
  cursor: pointer;
}



@media (max-width: 768px) {
    .modal-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .modal {
        position: static;

        width: 90%;
        max-width: 732px;
        height: 90%;
        max-height: 606px;
       
  }
 
}




.rightp-head {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #AFB6C5;
  text-align: left;
}

.input {
  background-color: #FFFF;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  width: 100%;
  max-width: 338px;  
  min-height: 36px;
  padding: 5px;
  margin-top: 10px;
}

.searchinput {
  position: relative;
  width: 100%;
  max-width: 338px;
}

.searchinput input{
  width: 100%;
  padding: 10px 12px;
  padding-right: 36px;
}

.icon{
  position: absolute;
  right: 12px;              
  top: 50%;
  color: #9ca3af;
  pointer-events: none;
}

.lists{
  margin-top: 5px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  min-height: 73px;
  width: 100%;
  max-width: 337px;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}

.name{
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.name-detail{
  font-size:12px;
  line-height: 17px;
  display: flex;
  justify-content: space-between;
}

.rating{
  display: flex;
  gap: 15px;
  align-items: center;
}
.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.yellow { background-color: #F3B241;}
.green {background-color: #3AA333;}
.red {background-color: #EE4C23;}


@media (max-width: 480px) {
  .input,
  .searchinput,
  .lists {
    max-width: 100%;
    margin-right: 15px;
  }
}



.modal-upload {
  position: absolute;

  top: 176px;
  left: 448px;

  width: 415px;
  height: 338px;

  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
 
}
.upload-modal {
 
  display: flex;
  flex-direction: column;
 
  align-items: center;
   height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.upload-header {
  height: 47px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid cadetblue;
  
}

.upload-header h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.upload-info {
  padding: 12px 16px;
  text-align: center;
  font-size: 12px;
  color: #6b7280;
  
}
.drop-zone {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  border: 1px dashed #cbd5e1;
  border-radius: 6px;
  
  text-align: center;

  width: 376px;
  height: 122px;
 
}

.cloud {
  font-size: 28px;
}

.drop-zone p {
  font-size: 13px;
}

.drop-zone span {
  font-size: 11px;
  color: #9ca3af;
}
.browse-btn {
  margin-top: 10px;
  padding: 6px 14px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  width: 155px;
  height: 32;
}


.display {

  display: flex;
  align-items: center;          
  justify-content: center;
  width: 100%;
  padding: 0 10px;
}

.error-text {
  color: #EE4C23;
  font-size: 10px;
  line-height: 13px;
  margin-left: 10px;            
  white-space: nowrap;          
}


.selected-file {
    background-color: #2F384C;
    border-radius: 16px;
    height: 22px;
    min-width: 124px;
    width: 124px;
    color: #FFFFFF;
    margin: 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 2px;
     display: flex;               
  align-items: center;
  justify-content: center;
}

.upload-btn {
  margin-top: auto;
  width: 225px;
  height: 42px;

  background: #f97316;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  
  font-size: 14px;
  cursor: pointer;
  margin:20px;
}




@media (max-width: 768px) {
  .modal-upload {
    position: static;
    width: 90%;
    height: auto;
    max-width: 415px;
    max-height: 338px;
  }
}
